<section id="about">
    <div class="container wow fadeIn">
        <div class="row">

			<div class="col-md-6">
                <!--<img src="~/Theme/assets/img/creative/about.jpg" class="img-responsive" alt="">-->
				<img src="~/images/DP/dp_vs.png" class="img-responsive" alt="">
            </div>
			
            <div class="col-md-6 text-center">
                <h1>Hi, I'm Nathaniel</h1>
                <hr class="colored">

                <p>
                    Web/Mobile .Net Developer 
                    | Xamarin Certified Developer 
                    | Tech Evangelist 
                    | Suitor ni <a href="https://www.facebook.com/valeriemaldita">Valerie</a> :-)
                </p>
                <p>
                    I'm aspiring to be a well-recognized Tech Evangelist and Software Architect with enterprise-grade expertise in Web, Mobile, AI and Cloud technologies. 
                </p>
            </div>
        </div>
    </div>
</section>