<header style="background-image: url('images/ERNI/1-blur.jpg');">
    <div class="intro-content" style="width: 100%;">
        <!-- <img src="~/Theme/assets/img/creative/profile.png" class="img-responsive img-centered" alt=""> -->
        <div class="brand-name">Nathaniel Brion Sison</div>
    
        <hr class="colored">
        <img src="~/images/XAMARIN/badge-medium.png" class="img-responsive img-centered" style="height: auto; width: 9%" alt="">
        <hr class="colored">
        
        <!-- <div class="brand-name-subtext">Mobile Developer Wanna Be</div> -->
        <div class="brand-name-subtext">This site is still under construction, will be updated soon :-)</div>
    </div>

    <div class="scroll-down">
        <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
    </div> 
</header>